body {
    background-color: rgb(255,255,255);
}
ul {
    list-style: none;
}
.topnav {
    overflow: hidden;
    background-color: black;
}
.topnav a {
float: left;
display: block;
color: cornsilk;
text-align: center;
padding: 10px 10px;
text-decoration: none;
}
.topnav a:hover {
    color: black;
    background-color: cornsilk;
}
h1 {
    color: rgb(37, 23, 1);
    text-align: center;
}
#infotable {
    float: right;
    width: 60%;
    padding: 10px 10px;
}
#leftcolumn {
    width: 20%;
    float:left;
    padding: 10px 10px;
    border:1px solid black;
}

table, th, td {
    border:2px solid rgb(228, 219, 219) ;
}
#leftlist {
    width: 50%;
}
#rightlist {
    width: 50%;
}


#headshot {
    width: 200px;
   
}

}
#biotext {
   
}
footer {
    text-align: center;
    padding-top: 95%;
}