/* CSS Comment */

body{
	background-color:black;
}

h1{
	color:white;
}
p{
	color:white;
}

hr{
	border-color: #fff;
}

.subParagraphs{
	color:green;
	font-size: 18pt;
	font-family: arial;
}

#redBox{
	width: 100px;
	height: 100px;
	background-color: red;
}